{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie 11"]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-entries"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["stage-0"]
    }
  }
}
