{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie 11"]
      }
    }],
    "stage-0"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["stage-0"]
    }
  }
}
